/* COLOUR SCHEME

Pure Black: #000000
Dark Grey: #696969
Lighter Grey: #333
Normal Grey: #adadad

*/

body {
    height: 100%;
    background-color: #dba4db;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background: #56d6ab;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

p,
a,
h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    letter-spacing: 2px;
    word-spacing: 2px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 35px;
    position: relative;
}

nav a {
    color: #f2eee7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 25px 10px 25px;
}

nav a:hover {
    color: #56d6ab;
    background-color: #f2eee7;
}

nav a:hover::before {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 10px 0;
}

.title {
    font-size: 3em;
}

.subtitle {
    font-size: 1.5em;
}

.centre {
    text-align: center;
}

.underline {
    text-decoration: underline;
}


/* Styles!!!!
this style sheet aint impressive */